<app-header></app-header>
<div class="container">
  <div class="row mt-3 mb-3">
    <div class="col-md-12">

        <div class="btn-group mr-3">
          <button type="button" class="btn btn-primary" [routerLink]="['/jovian']">Jovian</button>
          <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu dropdown-menu-left">
            <a class="dropdown-item disabled" href="#" [routerLink]="['/jovian']">Reference Alignment</a>
            <a class="dropdown-item disabled" href="#" [routerLink]="['/jovian']">Metagenomics</a>
          </div>
        </div>

        <button type="button" class="btn btn-secondary" [routerLink]="['/ont']">
          ONT
        </button>

    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th>Sample ID</th>
            <th scope="col">Date</th>
            <th scope="col">Import status</th>
            <th scope="col">Pipeline status</th>
            <th>Export status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of data | paginate: { itemsPerPage: 10, currentPage: p }">
            <td><a [routerLink]="item['id']">{{item['id']}}</a></td>
            <td>{{getDate(item['import_from_ena']['date'][0])}}</td>
            <td>
              <span [ngClass]="getExportStatusClass(item['import_from_ena']['status'], 'ena_import')">
                {{getExportStatus(item['import_from_ena']['status'], 'ena_import')}}
              </span>
            </td>
            <td>
              <span [ngClass]="getExportStatusClass(item['pipeline_analysis']['status'], 'pipeline_analysis')">
                {{getExportStatus(item['pipeline_analysis']['status'], 'pipeline_analysis')}}
              </span>
            </td>
            <td>
              <span [ngClass]="getExportStatusClass(item['export_to_ena']['status'], 'ena_export')">
                {{getExportStatus(item['export_to_ena']['status'], 'ena_export')}}
              </span>
            </td>
          </tr>
        </tbody>
      </table>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>
