<app-header></app-header>
<div class="container">
  <app-samples-navigation></app-samples-navigation>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Sample ID</th>
            <th scope="col">Date</th>
            <th scope="col">Import status</th>
            <th scope="col">Pipeline status</th>
            <th>Export status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of data | paginate: { itemsPerPage: 10, currentPage: p }">
            <td><a [routerLink]="item['id']">{{item['id']}}</a></td>
            <td>{{getDate(item['import_from_ena']['date'][0])}}</td>
            <td>
              <span [ngClass]="getExportStatusClass(item['import_from_ena']['status'], 'ena_import')">
                {{getExportStatus(item['import_from_ena']['status'], 'ena_import')}}
              </span>
            </td>
            <td>
              <span [ngClass]="getExportStatusClass(item['pipeline_analysis']['status'], 'pipeline_analysis')">
                {{getExportStatus(item['pipeline_analysis']['status'], 'pipeline_analysis')}}
              </span>
            </td>
            <td>
              <span [ngClass]="getExportStatusClass(item['export_to_ena']['status'], 'ena_export')">
                {{getExportStatus(item['export_to_ena']['status'], 'ena_export')}}
              </span>
            </td>
          </tr>
        </tbody>
      </table>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>
