<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Jovian</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th>Sample ID</th>
            <th scope="col">Date</th>
            <th scope="col">Import status</th>
            <th scope="col">Pipeline status</th>
            <th>Export status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of data | paginate: { itemsPerPage: 10, currentPage: p }">
            <td><a [routerLink]="item['id']">{{item['id']}}</a></td>
            <td>{{getDate(item['export_from_ena']['date'][0])}}</td>
            <td>
              <span [ngClass]="getExportStatusClass(item['export_from_ena']['status'])">
                {{getExportStatus(item['export_from_ena']['status'])}}
              </span>
            </td>
            <td>
              <span class="badge badge-pill badge-info">
                Undefined
              </span>
            </td>
            <td>
              <span class="badge badge-pill badge-info">
                Undefined
              </span>
            </td>
          </tr>
        </tbody>
      </table>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>
