<app-header></app-header>
<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">{{sampleId}}</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>1. ENA import</h3>
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Some status
          <span class="badge badge-primary badge-pill">Apr 20, 2020, 14:36</span>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>2. Pipeline run</h3>
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Some status
          <span class="badge badge-primary badge-pill">Apr 20, 2020, 14:36</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Another status
          <span class="badge badge-primary badge-pill">Apr 20, 2020, 14:56</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Some different status
          <span class="badge badge-primary badge-pill">Apr 20, 2020, 15:20</span>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>3. ENA export</h3>
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Some status
          <span class="badge badge-primary badge-pill">Apr 20, 2020, 14:36</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Another status
          <span class="badge badge-primary badge-pill">Apr 20, 2020, 14:56</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Some different status
          <span class="badge badge-primary badge-pill">Apr 20, 2020, 15:20</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Another status
          <span class="badge badge-primary badge-pill">Apr 20, 2020, 14:56</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Some different status
          <span class="badge badge-primary badge-pill">Apr 20, 2020, 15:20</span>
        </li>
      </ul>
    </div>
  </div>
</div>
