<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>
        <button type="button" class="btn btn-primary" [routerLink]="['/jovian']">
          Jovian
        </button>
        <button type="button" class="btn btn-primary active" [routerLink]="['/ont']">
          ONT
        </button>
      </h1>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-12">
      <h3>Summary: </h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h5>Import status: </h5>
      <button type="button" class="btn btn-success btn-sm">
        Success <span class="badge badge-light">{{summary['ena_import']['Success']}}</span>
      </button>
      <button type="button" class="btn btn-warning btn-sm">
        Processing <span class="badge badge-light">{{summary['ena_import']['Processing']}}</span>
      </button>
      <button type="button" class="btn btn-primary btn-sm">
        Undefined <span class="badge badge-light">{{summary['ena_import']['Undefined']}}</span>
      </button>
      <button type="button" class="btn btn-danger btn-sm">
        Failed <span class="badge badge-light">{{summary['ena_import']['Failed']}}</span>
      </button>
    </div>
    <div class="col-md-4">
      <h5>Pipeline status: </h5>
      <button type="button" class="btn btn-success btn-sm">
        Success <span class="badge badge-light">{{summary['pipeline_analysis']['Success']}}</span>
      </button>
      <button type="button" class="btn btn-warning btn-sm">
        Processing <span class="badge badge-light">{{summary['pipeline_analysis']['Processing']}}</span>
      </button>
      <button type="button" class="btn btn-primary btn-sm">
        Undefined <span class="badge badge-light">{{summary['pipeline_analysis']['Undefined']}}</span>
      </button>
      <button type="button" class="btn btn-danger btn-sm">
        Failed <span class="badge badge-light">{{summary['pipeline_analysis']['Failed']}}</span>
      </button>
    </div>
    <div class="col-md-4">
      <h5>Export status: </h5>
      <button type="button" class="btn btn-success btn-sm">
        Success <span class="badge badge-light">{{summary['ena_export']['Success']}}</span>
      </button>
      <button type="button" class="btn btn-warning btn-sm">
        Processing <span class="badge badge-light">{{summary['ena_export']['Processing']}}</span>
      </button>
      <button type="button" class="btn btn-primary btn-sm">
        Undefined <span class="badge badge-light">{{summary['ena_export']['Undefined']}}</span>
      </button>
      <button type="button" class="btn btn-danger btn-sm">
        Failed <span class="badge badge-light">{{summary['pipeline_analysis']['Failed']}}</span>
      </button>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-12">
      <h3>Runs: </h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
        <tr>
          <th>Sample ID</th>
          <th scope="col">Date</th>
          <th scope="col">Import status</th>
          <th scope="col">Pipeline status</th>
          <th>Export status</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of data | paginate: { itemsPerPage: 10, currentPage: p }">
          <td><a [routerLink]="item['id']">{{item['id']}}</a></td>
          <td>{{getDate(item['import_from_ena']['date'][0])}}</td>
          <td>
              <span [ngClass]="getExportStatusClass(item['import_from_ena']['status'], 'ena_import')">
                {{getExportStatus(item['import_from_ena']['status'], 'ena_import')}}
              </span>
          </td>
          <td>
              <span [ngClass]="getExportStatusClass(item['pipeline_analysis']['status'], 'pipeline_analysis')">
                {{getExportStatus(item['pipeline_analysis']['status'], 'pipeline_analysis')}}
              </span>
          </td>
          <td>
              <span [ngClass]="getExportStatusClass(item['export_to_ena']['status'], 'ena_export')">
                {{getExportStatus(item['export_to_ena']['status'], 'ena_export')}}
              </span>
          </td>
        </tr>
        </tbody>
      </table>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>
