<div class="bg-light pb-5 min-vh-100">

<app-header></app-header>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <app-navigation></app-navigation>
      </div>
    </div>

    <div class="content-container card shadow-sm px-4 py-4">

      <h1 class="display-4 text-center">{{ sampleId }}</h1>

      <h2>Import</h2>

      <app-log-list 
        [title]="'Logs'" 
        [logs]="data?.import_from_ena?.status"
        [dates]="data?.import_from_ena?.date"
        [type]="'success'"
      ></app-log-list>

      <app-log-list
        [title]="'Errors'"
        [logs]="data?.import_from_ena?.errors"
        [type]="'danger'"
      >
      </app-log-list>

    </div>

    <div class="content-container card shadow-sm px-4 py-4 mt-3">
      <h2>Pipeline ({{ pipeline }})</h2>

      <app-log-list
        [title]="'Logs'"
        [logs]="data?.pipeline_analysis?.status"
        [dates]="data?.pipeline_analysis?.date"
        [type]="'success'"
      ></app-log-list>

      <app-log-list
        [title]="'errors'"
        [logs]="data?.pipeline_analysis?.errors"
        [type]="'danger'"
      >
      </app-log-list>

    </div>

    <div class="content-container card shadow-sm px-4 py-4 mt-3">
      <h2>Export</h2>

      <app-log-list
        [title]="'Logs'"
        [logs]="data?.export_to_ena?.status"
        [dates]="data?.export_to_ena?.date"
        [type]="'success'"
      ></app-log-list>

      <app-log-list
        [title]="'errors'"
        [logs]="data?.export_to_ena?.errors"
        [type]="'danger'"
      >
      </app-log-list>

    </div>

  </div>

</div>